#navbar{
  background-color: transparent;
  font-size: 20px;
  font-family:"Brush Script MT", cursive;
  font-style: oblique;
  border-bottom: 1px solid black;
  outline-style: double;
  outline-color: black;
  letter-spacing: 4px;
}

#navbar a {
  color: #9f7ea8;
}

#navbar a:hover{
  color: white;
}

#navbar a:visited{
  color: transparent;
}


body, html{
  height: 100%;
  margin: 0;
}

body {
  background-image: url("beach.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  text-align: center;
  font-size: 45px;
  font-style: italic;
  font-family: "Bookman"serif;
  text-align: center;
  text-shadow: 2px 2px 2px #000080;
  letter-spacing: 7px;
  height:150px;

}

#sidebar{
  width: 500px;
  height: 400px;
  background-color: grey;
  opacity: 0.5;
  float: left;
}


#mainbody{
  text-align:left;
  width: 650px;
  height: 400px;
  background-color: grey;
  opacity: 0.5;
  float: right;
}
